---
import { JobTimeline } from '~/components/JobTimeline';
import Section from '~/components/Section.astro';
import { jobs } from '~/data/jobs';
---

<Section id="job-experience" title="Job Experience" tone="alt">
  <JobTimeline client:visible jobs={jobs} />
</Section>
